In [2]:
import omdb
import requests
omdb.set_default('apikey','48cb183')

In [3]:
omdb.get(title='Titanic', fullplot=True, tomatoes=False)

Item({'actors': 'Leonardo DiCaprio, Kate Winslet, Billy Zane, Kathy Bates', 'awards': 'Won 11 Oscars. Another 110 wins & 75 nominations.', 'box_office': 'N/A', 'country': 'USA', 'dvd': '10 Sep 2012', 'director': 'James Cameron', 'genre': 'Drama, Romance', 'language': 'English, Swedish', 'metascore': '74', 'plot': '84 years later, a 100 year-old woman named Rose DeWitt Bukater tells the story to her granddaughter Lizzy Calvert, Brock Lovett, Lewis Bodine, Bobby Buell and Anatoly Mikailavich on the Keldysh about her life set in April 10th 1912, on a ship called Titanic when young Rose boards the departing ship with the upper-class passengers and her mother, Ruth DeWitt Bukater, and her fianc√©, Caledon Hockley. Meanwhile, a drifter and artist named Jack Dawson and his best friend Fabrizio De Rossi win third-class tickets to the ship in a game. And she explains the whole story from departure until the death of Titanic on its first and last voyage April 15th, 1912 at 2:20 in the morning.', 'poster': 'https://images-na.ssl-images-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg', 'production': 'Paramount Pictures', 'rated': 'PG-13', 'released': '19 Dec 1997', 'response': 'True', 'runtime': '194 min', 'title': 'Titanic', 'type': 'movie', 'website': 'http://www.titanicmovie.com/', 'writer': 'James Cameron', 'year': '1997', 'imdb_id': 'tt0120338', 'imdb_rating': '7.8', 'imdb_votes': '869,216'})

In [5]:
import pandas as pd
import numpy as np
with open('C:/Users/WANGYIFAN/Desktop/movie_metadata.csv') as f:
    df= pd.read_csv(f,header=0,delim_whitespace=False,na_values='?',index_col=0)

y=np.array(df['movie_title'])
print(y)
y1=y[4983:]
print(y1)
y.shape

['Avatar' "Pirates of the Caribbean: At World's End" 'Spectre' ...,
 'A Plague So Pleasant' 'Shanghai Calling' 'My Date with Drew']
['Absentia' 'The Brothers McMullen' 'The Dirties' 'Gabriela'
 'Tiny Furniture' 'Hayride' 'The Naked Ape' 'Counting'
 'The Call of Cthulhu' 'Bending Steel' 'The Signal' 'The Image Revolution'
 'This Is Martin Bonner' 'A True Story' 'George Washington'
 'Smiling Fish & Goat on Fire' 'Dawn of the Crescent Moon' 'Raymond Did It'
 'The Last Waltz' 'Run, Hide, Die' 'The Exploding Girl'
 "The Legend of God's Gun" 'Mutual Appreciation'
 'Her Cry: La Llorona Investigation' 'Down Terrace' 'Clerks'
 'Pink Narcissus' 'Funny Ha Ha' 'In the Company of Men' 'Sabotage' 'Manito'
 'Rampage' 'Slacker' 'Dutch Kills' 'Dry Spell' 'Flywheel' 'Exeter'
 'The Ridges' 'The Puffy Chair' 'Stories of Our Lives' 'Breaking Upwards'
 'All Superheroes Must Die' 'Pink Flamingos' 'Clean' 'The Circle'
 'Tin Can Man' 'The Cure' 'On the Downlow' 'Sanctuary; Quite a Conundrum'
 'Bang' 'Primer' 'Cavite' 'El Mariachi' 'The Mongol King' 'Newlyweds'
 'Signed Sealed Delivered' 'The Following            '
 'A Plague So Pleasant' 'Shanghai Calling' 'My Date with Drew']

(5043,)

In [6]:
import json
file='filmdata.json'
with open(file,'wb') as fc:
    for i in y1:
        info=omdb.get(title=i, fullplot=True, tomatoes=True)
        jsobj=json.dumps(info)
    
        fc.write(jsobj.encode())
    

print('finished')

finished

In [2]:
import csv
import json
with open('film.json','r') as rd:
    line=json.load(rd)
data=line['film']
with open('movie_metadata.csv','w') as wt:
    csvwriter = csv.writer(wt)
    count = 0
    for emp in data:
        if count == 0:
            header = emp.keys()

            csvwriter.writerow(header)

            count += 1

        csvwriter.writerow(emp.values())